html,body {
  height: 98%;
  width: 98%;
}
.div-cl {
  display: flex;
  justify-content: center;
}
table.size {
  font-size: 300%;
  /*width: 630px;
  height: 540px;*/
  width: 84%;
  height: 84%;
  table-layout: fixed;
  margin: auto;
}
.td-all {
  width: 12%;
  /*width: 100%;*/
}
.tr-all {
  height: 14%;
  /*height: 100%;*/
}
table {
  border-collapse: collapse;
  text-align: center;
}
th {
  color: #FF9800;/*文字色*/
  background: #fff5e5;/*背景色*/	
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}
